div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}


/* 1. 减小 section 上下 padding（影响所有 section）*/
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* 2. 缩小普通段落的上下间距 */
.content p {
    margin-top: 0;
    margin-bottom: 0.5rem; // 原来大约 1rem 左右
}


.content {
    figure {
        margin: 0;
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.75rem;
    }
}

// Alpine.js hide on initial load
[x-cloak] {
    display: none !important;
}

.skip-link {
    &:focus {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        padding: 1rem !important;
        position: relative !important;
        text-decoration: underline;
    }
}

.pub-list {
    margin-top: 1rem;
}

.pub-item {
    margin-bottom: 1.25rem;
}

.pub-main {
    font-size: 0.95rem;
}

.pub-title {
    font-weight: 600; // 更加粗
    color: #024731; // 深绿更醒目（可替换）
    text-decoration: none; // 移除默认下划线
    transition: all 0.2s ease-in-out; // 平滑过渡效果

    &:hover {
        color: #012f22; // hover 时更深
        text-decoration: underline; // hover 显示下划线
        letter-spacing: 0.2px; // 微调间距提升感知
    }
}


.pub-links {
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.pub-link {
    margin-right: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #238636; // 类似 GitHub 绿色
}

.pub-link i {
    margin-right: 0.2rem;
}

.pub-link.pub-cite.is-copied {
    color: #1a7f37; // 深绿
}