div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}

/* 1. 减小 section 上下 padding（影响所有 section）*/
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* 2. 缩小普通段落的上下间距 */
.content p {
    margin-top: 0;
    margin-bottom: 0.5rem; // 原来大约 1rem 左右
}


.content {
    figure {
        margin: 0;
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.75rem;
    }
}

// Alpine.js hide on initial load
[x-cloak] {
    display: none !important;
}

.skip-link {
    &:focus {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        padding: 1rem !important;
        position: relative !important;
        text-decoration: underline;
    }
}