@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #024731 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

.gh-team {
  color: #ea4aaa;
}

// Team icons styling
.team-icons {
  .icon {
    font-size: 1.5rem; // Increase size (is-medium is ~1.5rem, is-large is ~2rem)

    i {
      color: #024731; // Change icon color to green
    }
  }
}