@use "../node_modules/bulma/sass" as * with (
  $family-sans-serif: "Montserrat, sans-serif",
  $primary: #024731,
  $tabs-link-active-color: #024731,
  $tabs-link-active-border-bottom-color: #024731,
  $modal-content-width: 800px,
);
@use "../node_modules/bulma/sass/utilities/mixins" as * ;
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$hero-darken: $dark;
@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";


.gh-team {
  color: #ea4aaa;
}

// Team icons styling
.team-icons {
  .icon {
    font-size: 1.5rem; // Increase size (is-medium is ~1.5rem, is-large is ~2rem)

    i {
      color: #024731; // Change icon color to green
    }
  }
}