---
layout: default
---
<div class="content">
    <p>
        Published: {{ page.date | date: '%b %-d, %Y' }}
        {% assign author_id = page.author %}
        {% for tier in site.data.WINGS_teams %}
            {% assign person = tier.teams | where: 'id', author_id | first %}
            {% if person %}
                by <a href="{{ person.website }}" target="_blank">{{ person.name }}</a>
            {% endif %}
        {% endfor %}
    </p>

    {% if page.series %}
        {% include series.html %}
    {% endif %}

    {{ content }}

    {% if page.testbed_facilities %}
        {% include testbed-facilities.html %}
    {% endif %}
</div>

<div class="tags my-4">
    {% for tag in page.tags %}
        {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
    <div class="my-4">
        {% include share-buttons.html %}
    </div>
{% endunless %}

{% if site.disqus.shortname %}
    <div class="my-4">
        {% include disqus.html %}
    </div>
{% endif %}
